# Packaging artifacts
dist/
build/
*.egg-info/

# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/

# The project how to for me
how_to

# PyPISettings
PyPISettings.txt
airspacesim/data
examples/

# TO-DO
todo

# README.md not ready to be githubed
# *.md

AirSpaceSim.csv
*.bat