include README.md
include LICENSE
include requirements.txt

include airspacesim/data/*.json
include airspacesim/examples/*.py

prune airspacesim-playground
exclude airspacesim-playground/examples/example_simulation.py
